@font-face {
    font-family: "DinCondensed";
    src: url(../assets/font.ttf);
}

* {
    color: #43403B;
    font-family: 'DinCondensed', sans-serif;
    font-size: 35px;
}

body {
    padding-top: 45px;
}

body{
    color: #43403B;
}

.navbar{

    flex: 1;
    width: auto;
    padding: 0 1rem;
    background-color: #FAF5E4;
    position: fixed;
    align-items: center;
    justify-self: center;
    height: 2.5rem;
    border-radius: 8px;
    z-index: 1000000;
    display: flex;
    font-size: 22px;
    white-space: nowrap;
    gap: 0.5rem;       
    flex-wrap: nowrap;
   
}

    


    a{
        text-decoration: none; align-self: center; text-align: center; padding: 0.4rem 1.5rem; border-radius: 8px;
    }

.nav-link.active {
    z-index: 10000000000000000;
    background-color: #FABD3E;
}


.intro-container{
    border: #E3E3E3 3px solid;
    border-radius: 8px;
    display: block;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    padding: 0 2rem;
}

.intro-title{
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.7rem;
    color: #231E1C;
    
}

.intro-text{
    color: #C2BCBB;
    padding: 0;
    margin: 0;
    margin-bottom: 2.4rem;
    font-size: 0.8rem;
}

.interests-image-container{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.interests-image{
    width: 7rem;
    padding-left: 10vw;
}
.interests-container .interest-title{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.interests-title{
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.2em;
    margin-left: 1.7rem;
}

.interests{
        text-align: left;
        display: block;
        padding: 0;
        margin-left: 2.6rem;

        li{
            margin-bottom: 0.4rem;
            font-size: 0.8rem;
        }
}

.home-and-school-image-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 1.7rem;
    margin-top: 1.5rem;
}

.home-and-school-container .home-and-school-title{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.home-and-school-image{
    width: 7rem;
    padding-right: 10vw;
    padding-left: 5vw;
}

.home-and-school-title{
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.2em;
    margin-left: 1.7rem;
}

.home-and-school{
        text-align: left;
        display: block;
        padding: 0;
        margin-left: 2.6rem;

        li{
            margin-bottom: 0.4rem;
            font-size: 0.8rem;
        }
}

span{
    font-size: 0.8rem; 
    color: #FABD3E;
}

/* Project Section */

.recent-project-title{
    color: black;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

.recent-projects-container{
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.project-image{
    width: 7rem;
}

.project-title{
    margin-top: 0.3rem;
    color: #000000;
    font-size: 1.3rem;
    font-style: strong;
    margin-bottom: 0;
}

.project-description{
    color: #AEA6A4;
    margin-top: 0.2rem;
    font-size: 0.7rem;
    text-overflow: ellipsis;
}

.learn-more{
    background-color: #FABD3E;
    border: none;
    border-radius: 8px;

    a{
        color: #231E1C;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;

    }
}

.service-section-title{
    color: black;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0.3rem;
}

.service-section-description{
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
}

.services-container{
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: stretch;
}

.service-image{
    width: 7rem;
}
.service-title{
    margin-top: 0.3rem;
    color: #000000;
    font-size: 1.3rem;
    font-style: strong;
    margin-bottom: 0;
}

.services-detail{
    color: #AEA6A4;
    margin-top: 0.2rem;
    font-size: 0.7rem;
    text-overflow: ellipsis;
}

.contact-me{
    background-color: #FABD3E;
    border: none;
    border-radius: 8px;

    a{
        color: #231E1C;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;

    }
}

@media screen and (max-width: 1100px) {
    #navbar{
        display: none;
    }

    .intro-container{
        width: 60vw;
    }
    .intro-title{
        font-size: 6vw;
    }
    .intro-text{
        font-size: 3vw;
    }
}

.contact-title{
    margin-bottom: 0rem;
    font-size: 1.6rem;
    color: #000000;
}

.contact-description{
    font-size: 0.8rem;
    margin-top: 0.7rem;
}

form{
    background-color: #F3F1EB;
    width: 20rem;
    border-radius: 8px;
    padding-top: 1rem;
    padding-left: 1.3rem;
    margin-top: 2.5rem;
    padding-bottom: 0.7rem;
}

.form-title{
    color: #000000;
    font-size: 1.4rem;
    text-align: center;
    margin: 1rem;
}

label{
    color: #969696;
    font-size: 0.7rem;
    margin-bottom: 0rem;
}

.form-group{
    margin-bottom: 0.4rem
}
.form-input{
    margin: 0;
    background-color: #FFFFFF;
    color: #B3ABA9;
    font-size: 0.52rem;
    width: 60%;
    height: 1.2rem;
    border-radius: 8px;
    border-color: #D9D9D9;
    border: solid 1px;
    padding-left: 0.3rem;
}

.details{
    margin: 0;
    background-color: #FFFFFF;
    font-size: 0.52rem;
    width: 60%;
    height: 1.2rem;
    border-radius: 8px;
    border-color: #D9D9D9;
    border: solid 1px;
    padding-left: 0.3rem;
    height: 7rem;

    details::placeholder{
        color: #B3ABA9;
    }
}
.send-the-mail{
    width: 15rem;
    border: none;
    background-color: #FABD3E;
    padding: 0.3rem 2rem;
    border-radius: 8px;
    justify-content: center;
    display: block;
    margin: 1rem auto 0 auto;
    
}

.section-contact{
    display: flex;
    margin-top: 3rem;
    margin-left: 4rem;
    justify-content: flex-end;
}

.social-buttons{
    display: flex;
    gap: 1.3rem;
}

.socials{
    margin: 0;
    padding: 0;
}

.social-title{
    font-size: 1.6rem;
    color: #000000;
    margin: 0
}

.socials-container{
    align-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.title{
    font-size: 1.6rem;
    color: #000000;
    text-align: left;
    margin-left: 2rem;
    margin-top: 8rem;
}

.description{
    font-size: 0.8rem;
    margin-left: 2rem;
    margin-top: 0.4rem;
    width: 40%;
}

.mobile{
    display: none;
}