@font-face {
    font-family: "DinCondensed";
    src: url(../assets/font.ttf);
}

* {
    color: #43403B;
    font-family: 'DinCondensed', sans-serif;
    font-size: 35px;
}

body {
    padding-top: 45px;
}

body{
    color: #43403B;
    background-color: aliceblue;
}

.navbar{

    width: 50%;
    background-color: #FAF5E4;
    position: fixed;
    align-items: center;
    justify-self: center;
    height: 100px;
    border-radius: 8px;
    z-index: 1000000;
    padding: 0rem 4rem;
    display: flex;
    font-size: 22px;
    white-space: nowrap;
    gap: 0.5rem;       
    flex-wrap: nowrap;
   
}
    


    a{
        overflow-wrap: break-word;
        text-decoration: none;
        align-self: center;
        display: flex;
        justify-self: center;
        text-align: center;
        padding: 0.4rem 1.5rem;
        border-radius: 8px;
        width: 100%;
    }

.nav-link.active {
    z-index: 10000000000000000;
    background-color: #FABD3E;
}


.intro-container{
    border: #43403B 2px solid;
    display: flex;
    justify-content: center;
}

.intro-container{
    margin: 2rem;
    text-align: center;
    display: block;
}